# C# files
[*.cs]

# Private fields should follow _camelCase naming convention
dotnet_naming_symbols.private_or_internal_field.applicable_kinds = field
dotnet_naming_symbols.private_or_internal_field.applicable_accessibilities = private, internal, private_protected
dotnet_naming_rule.private_fields_underscored.symbols = private_or_internal_field
dotnet_naming_rule.private_fields_underscored.style = _camelcase
dotnet_naming_rule.private_fields_underscored.severity = warning

dotnet_naming_style._camelcase.required_prefix = _
dotnet_naming_style._camelcase.required_suffix = 
dotnet_naming_style._camelcase.word_separator = 
dotnet_naming_style._camelcase.capitalization = camel_case



### Static analysis rules
## Style rule overrides
dotnet_diagnostic.IDE0003.severity = warning
dotnet_diagnostic.IDE0004.severity = warning
dotnet_diagnostic.IDE0040.severity = warning
dotnet_diagnostic.IDE0041.severity = warning
dotnet_diagnostic.IDE0051.severity = warning
dotnet_diagnostic.IDE0052.severity = warning
dotnet_diagnostic.IDE0065.severity = warning
dotnet_diagnostic.IDE0161.severity = warning
dotnet_diagnostic.IDE1006.severity = warning

# CS8618: Non nullable field _name is not initialized. Consider declare the field as nullable type
dotnet_diagnostic.CS8618.severity = suggestion

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = suggestion
dotnet_diagnostic.CA1849.severity = suggestion
# CA1852: Seal internal types
dotnet_diagnostic.CA1852.severity = suggestion
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2234.severity = none

## StyleCop rules
# Default severity for StyleCop's documentation results to none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1000.severity = silent
dotnet_diagnostic.SA1005.severity = silent
dotnet_diagnostic.SA1028.severity = silent
dotnet_diagnostic.SA1101.severity = silent
dotnet_diagnostic.SA1128.severity = silent
dotnet_diagnostic.SA1200.severity = none
dotnet_diagnostic.SA1201.severity = silent
dotnet_diagnostic.SA1202.severity = silent
dotnet_diagnostic.SA1203.severity = silent
dotnet_diagnostic.SA1204.severity = silent
dotnet_diagnostic.SA1206.severity = silent
dotnet_diagnostic.SA1207.severity = silent
dotnet_diagnostic.SA1208.severity = silent
dotnet_diagnostic.SA1214.severity = silent
dotnet_diagnostic.SA1216.severity = silent
dotnet_diagnostic.SA1217.severity = silent
dotnet_diagnostic.SA1309.severity = silent
dotnet_diagnostic.SA1310.severity = silent
dotnet_diagnostic.SA1413.severity = silent
dotnet_diagnostic.SA1502.severity = silent
dotnet_diagnostic.SA1512.severity = silent
dotnet_diagnostic.SA1515.severity = silent
dotnet_diagnostic.SA1518.severity = silent
dotnet_diagnostic.SA1633.severity = silent
dotnet_diagnostic.SA1652.severity = silent
